[Unit]
Description=KYUNGSA Batch Gyeonggi/Incheon Daily Timer

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
